body {
    background-color:lavender;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
}
main{
    background-color:white;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-style: dashed;
    border-color: blue;
    border-width: 2px;
}
p{
    
}
footer{
    text-align: right;
    font-style: italic;
}
html{
    background-color:blue;
    font-family: sans-serif;
}
header{
    background-color:red;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
}
h1{
    font-weight: bolder;
}
h2 {
    font-weight:bold;
}