h1 {
    font-size:200%;
    text-align:center;
}
body {
    
}
#box {
    background-color: aquamarine;
    width: 750px;
    height: 750px;
    margin: auto;.
}
.card {
    background-color:red;
    width:181.5px;
    height:181.5px;
    border-style:solid;
    border-color:azure;
    float:left;
}
.card1 {
    color: royalblue;
    background-color: gray;
}
.card2 {
    color: green;
    background-color: gray;
}
.card3 {
    color: gold;
    background-color: gray;
}
.card4 {
    color: purple;
    background-color: gray;
}
.card5 {
    color: orangered;
    background-color: gray;
}
.card6 {
    color: paleturquoise;
    background-color: gray;
}
.card7 {
    color: navy;
    background-color: gray;
}
.card8 {
    color: maroon;
    background-color: gray;
}
.card9 {
    color: royalblue;
    background-color: gray;
}
.card10 {
    color: green;
    background-color: gray;
}
.card11 {
    color: gold;
    background-color: gray;
}
.card12 {
    color: purple;
    background-color: gray;
}
.card13 {
    color: orangered;
    background-color: gray;
}
.card14 {
    color: paleturquoise;
    background-color: gray;
}
.card15 {
    color: navy;
    background-color: gray;
}
.card16 {
    color: maroon;
    background-color: gray;
}

