#square1 {
    background-color: aqua;
    width: 300px;
    height: 300px;
        float: right;

    
    
}
#square2 {
    
    background-color: black;
    width: 300px;
    height: 300px;
    
    
}

#button1 {
    align-content: center;
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    
}

#button2 {
    margin: 0 auto;
    
    align-content: center;
    background-color: blue;
    width: 200px;
    height: 200px;
    
}

main {
    
    width: 800px;
}
p {
    text-align: center;
    line-height: 100px;
    font-size: 150%;
    
    
}